@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300;400;700&family=Zilla+Slab&display=swap');

/*
body *{
  border:2px solid red;
} 
*/

:root{
  --main-blue:#18314F;
  --gradient-blue:#3768A3;
  --gradient-blue2:#65A1EB;
  --main-yellow:#E5D352;
  --main-green:#0A5E5E;
  --main-teal:#18A1A1;
}

* {
  padding:0;
  margin:0;
}

body {
  background:linear-gradient(135deg, var(--main-blue), var(--main-green));
  animation: backgroundColour 30s infinite;
  background-size:400%;
  font-family:"Zilla Slab", serif;
  font-size:20px;
}

@keyframes backgroundColour{
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}

h1, h2, p, a{
  color:white;
}

h1{
  font-size:3rem;
  /*font-family: 'Quicksand', sans-serif;*/
}

a{
  text-decoration:none;
}

#navbar{
  font-family:"Zilla Slab", serif;
  display:flex;
  position:fixed;
  top:0;
  justify-content:flex-end;
  height:2rem;
  width:100vw;
  padding:1rem;
  z-index:1;
}

#navigations{
  display:flex;
  list-style:none;
  justify-content:flex-end;
  margin:0 5rem;
  gap:2rem;
  flex:1;
} 

.nav-link{
  font-size:1.5rem;
  font-weight:bold;
  padding:0.3rem;
}

.nav-link:hover, .profile-link:hover{
  background-color:white;
  color:var(--main-blue);
  border-radius:0.5rem;
}

main{
  margin: 0 5vw;
  position:relative;
}

#welcome-section{
  display:flex;
  min-height:100vh;
  flex-direction:column;
  justify-content:center;
  gap:1rem;
}

#name h1{
  font-size:clamp(3rem, 20vw, 6rem);
}

#intro{
  font-family:"Zilla Slab", serif;
  font-size:2rem;
}

#about-section{
  display:flex;
  flex-direction:column;
  justify-content:center;
  gap:1rem;
  min-height:100vh;
  font-size:1.5rem;
  line-height:1.6;
  text-align:justify;
}

#project-section{
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
  min-height:50vh;
}

#project-tiles{
  display:flex;
  justify-content:space-evenly;
  flex-wrap:wrap;
}

.project-image{
  width:250px;
  height:150px;
  border-radius:1rem;
  margin: 1rem 0 0 0;
}

.tile{
  text-align:center;
  margin:1rem;
  padding:1rem;
}

.tile a{
  font-size:1.5rem;
  font-weight:bold;
}

.tile:hover {
  border-radius:0.5rem;
  outline: 2px solid white;
}


#contact-section{
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
  min-height:50vh;
}

#links{
  display:flex;
  justify-content:space-evenly;
} 

.profile-link{
  font-size:2rem;
  font-weight:bold;
  font-family:"Zilla Slab", serif;
  display:flex;
  align-items: center;
  justify-content: center;
  gap:0.5rem;
}


footer{
  position:relative;
  text-align:right;
}
