@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300;400;700&family=Zilla+Slab&display=swap');

:root{
  --main-blue:#18314F;
  --gradient-blue:#094287;
  --main-yellow:#E5D352;
  --main-teal:#247B7B;
}

* {
  padding:0;
  margin:0;
}

/*
body *{
  outline:auto;
} */
body {
  background-image:linear-gradient(to bottom right, var(--main-blue), var(--gradient-blue));
  background-attachment:fixed;
  font-family: 'Quicksand', sans-serif;
  font-size:20px;
}

#navbar{
  font-family:"Zilla Slab", serif;
  display:flex;
  position:fixed;
  top:0;
  right:0;
  justify-content:flex-end;
  height:2rem;
  width:100%;
  padding:1rem;
  background-color:var(--main-teal)
}

.navigations{
  display:flex;
  list-style:none;
} 

.nav-link{
  display:block;
  font-size:1.5rem;
  padding:0 1rem;
  text-decoration:none;
  color:white;
  font-weight:bold;
}

#welcome-section{
  display:flex;
  flex-direction:column;
  justify-content:center;
  /*align-items:center;*/
  margin: 0 20vh;
  height:100vh;
}

#name {
  font-size:3rem;
  margin:5rem 0 ;
}

#projects{
  display:flex;
  flex-direction:column;
  justify-content:center;
  margin:5rem;
}

.project-tile{
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
}

.project-image{
  width:250px;
  height:150px;
}

#projects a{
  color:white;
  text-decoration:none;
  text-align:center;
  padding:1rem;
}

#projects p{
  font-size:0.8rem;
  display:inline;
}
h1, h2, p{
  color:white;
}

@media only screen and (max-width:400px){
  .project-tile{
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:white;
  }
}

#contact{
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
  padding: 5rem;
  height:400px;
}
#links{
  display:flex;
  justify-content:space-between;
  padding:0 5rem;

} 

.profile-link{
  color:white;
  text-decoration:none;
  padding:1rem;
  font-size:2rem;
  font-weight:bold;
  font-family:"Zilla Slab", serif;
}

.profile-link:hover{
  color:var(--main-yellow);
}