@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300;400;700&family=Zilla+Slab&display=swap');

/*body *{
  border:2px solid red;
} 
*/

:root{
  --main-blue:#18314F;
  --gradient-blue:#094287;
  --main-yellow:#E5D352;
  --main-teal:#247B7B;
}

* {
  padding:0;
  margin:0;
}

h1, h2, p, a{
  color:white;
}

h1{
  font-size:2.5rem;
}

a{
  text-decoration:none;
}

body {
  background-image:linear-gradient(to bottom right, var(--main-blue), var(--gradient-blue));
  background-attachment:fixed;
  font-family: 'Quicksand', sans-serif;
  font-size:20px;
}

#navbar{
  font-family:"Zilla Slab", serif;
  display:flex;
  position:fixed;
  top:0;
  justify-content:flex-end;
  height:2rem;
  width:100vw;
  padding:1rem;
  background-color:var(--main-teal);
}

#navigations{
  display:flex;
  list-style:none;
  justify-content:flex-end;
  margin:0 5rem;
  gap:1rem;
  flex:1;
} 

.nav-link{
  font-size:1.5rem;
  font-weight:bold;
}

main{
  margin:0 5vw;
}

#welcome-section{
  display:flex;
  height:100vh;
  flex-direction:column;
  justify-content:center;
  gap:1rem;
}

#name h1{
  font-size:5rem;
}

#project-section{
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
  height:50vh;
}

#project-tiles{
  display:flex;
  justify-content:space-evenly;
  flex-wrap:wrap;
}

.project-image{
  width:250px;
  height:150px;
}

.tile{
  text-align:center;
}

#contact-section{
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
  height:50vh;
}

#links{
  display:flex;
  justify-content:space-evenly;
} 

.profile-link{
  font-size:2rem;
  font-weight:bold;
  font-family:"Zilla Slab", serif;
}

.profile-link:hover{
  color:var(--main-yellow);
}

footer{
  background-color:var(--main-teal);
}
